section{
  padding: 5% 10%;
}
button{
  background: #6FBF8D ;
  padding: 12px 24px;
  font-weight: 500;
  color: #2e6643;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  border-radius: 15px;
  margin: 20px;
}

