<body>
  <div class="formulario">
    <form >
      <mat-form-field appearance="outline">
        <input matInput type="text" id="descripcion" formControlName="descripcion" placeholder="Descripción" required />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <input matInput type="number" id="monto" formControlName="monto" placeholder="Monto" required />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <input matInput type="date" id="fecha_registro" formControlName="fecha_registro" placeholder="Fecha de Registro" required/>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <input matInput type="date" id="fecha_pago" formControlName="fecha_pago" placeholder="Fecha de Pago" required/>
      </mat-form-field>
    </form>
  </div>
</body>

