body {
  background-color: #BDDEC6;
}

section button {
  background-color: #126AD1;
  color: white;
  border: none;
  padding: 5px 20px;
  font-size: 14pt;
  cursor: pointer;
  width: 250px;
  height: 50px;
  border-radius: 10px;
}
section .ingreso button{
  margin-left: 1000px;
  margin-top: 100px;

}
