section{
  background: #83B390;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 5% 10%;
  .login{
    background: linear-gradient(180deg, rgba(125, 232, 115, 0.88) 0%, rgba(251, 251, 251, 0) 100%);
    padding: 15px;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 32px;
    width: 100%;
    img{
      max-width: 192px;

      aspect-ratio: 1/1;
      object-fit: cover;
      border-radius: 9999px;
    }
    form{
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      align-items: center;
      ::ng-deep mat-form-field{
        max-width: 320px;
        width: 100%;
        .mdc-text-field--outlined{
          background:#D4DBE0 !important;
        }

      }
      button[type='submit']{
        background: #6FBF8D ;
        padding: 12px 24px;
        font-weight: 500;
        color: #2e6643;
        box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
        border-radius: 15px;

      }
      .registro{
        font-weight: 500;
        padding:24px;
        text-align: center;
      }
    }
  }
}

