
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px 0px 24px;
}

.custom-content {
  padding-top: 10px !important;
  min-width: 100%;
}


.w-full {
  width: 550px;
}

mat-form-field {
  width: 100%;
}

.save-btn {
  background-color: #059669 !important; 
  color: white !important;
  padding: 0 24px !important;
  border-radius: 8px !important;
  height: 45px;
}

.custom-actions {
  padding-bottom: 20px !important;
  padding-right: 24px !important;
  gap: 8px;
}