section {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100%; */
  background: #BDDEC6;
  flex-direction: column;
  gap: 50px;
  width: 100%;
  padding: 2% 10%;

}


.sumascontainer{
  width: 100%;
  display: flex;
  gap: 100px;
  padding: 16px;
  font-size: 24px;
  justify-content: center;
}

.egreso{
  background: rgb(245,174,166);
  color: rgb(187, 38, 22);
  padding: 15px 30px;
  border-radius: 20px;
  font-size: 30px;
}
.ingreso{
  background: rgb(168,245,171);
  color: rgb(22, 187, 27);
  padding: 15px 30px;
  border-radius: 20px;
  font-size: 30px;
}
