<div class="ui-table">
   <!-- Barra de búsqueda y botón para abrir filtros -->
   <div class="flex gap-x-4 search-container pt-1.5">
      <mat-form-field class="searcher" [appearance]="_layout.appearance">
         <mat-label>Filter</mat-label>
         <input matInput matInput (keyup)="filter(input.value)" placeholder="Buscar" #input />
      </mat-form-field>
      @if(filters.length) {
         <button (click)="open_filters()" class="ui-icon-button-primary my-auto">
            <i-tabler name="adjustments-horizontal" class="i-tabler"></i-tabler>
         </button>
      }
   </div>

   <div class="w-full overflow-x-scroll flex gap-x-2">
      @for(filter of applied_filters | keyvalue; track $index) {
         @if(filter.value){
            <span class="tag">
               {{filter.key.slice(3)}} {{filter.value}}
               <button (click)="delete_filter(filter.key)"><i-tabler name="x" class="i-tabler"></i-tabler></button>
            </span>
         }
      }
   </div>

   <!-- <div class="table-container"> -->
      <!-- Tabla que muestra los datos -->
      <div class="table">
         <table mat-table [dataSource]="ui_data" matSort>
            <!-- Generación de columnas y filas de la tabla -->
            @for (column of columns; track $index) {
              @if (column != 'Acciones') {


            <ng-container [matColumnDef]="column">
               <th mat-header-cell *matHeaderCellDef mat-sort-header class="!uppercase"
                  [ngClass]="_layout.hide_id(column)">
                  {{ column.slice(3) }}
               </th>
               <td mat-cell *matCellDef="let row" [ngClass]="_layout.hide_id(column)">
                  @switch (column) {
                     @case('00_IMG') {
                        @defer (when row[column]) {
                           @if(!row[column]) {
                              <i-tabler name="photo-filled" class="text-primary/70" class="i-tabler"></i-tabler>
                           } @else {
                              <img [src]="row[column]" (error)="row[column] = null" class="img" />
                           }
                        } @placeholder {
                           <i-tabler name="photo-filled" class="text-primary/70" class="i-tabler"></i-tabler>
                        } @error {
                           <i-tabler name="photo-filled" class="text-primary/70" class="i-tabler"></i-tabler>
                        }
                     } @default {
                        @if (column.includes('fecha')) {
                          {{ row[column] |  date: 'MMM d, y' }}


                        } @else {
                          {{ row[column] }}
                        }

                     }
                  }
               </td>
            </ng-container>
          }
            } @empty {
               <tr class="mat-row" *matNoDataRow>
                  <td class="mat-cell text-center" colspan="100%">
                    <img class="data" src="assets/egreso.svg" alt="">
                    <div class="noInfo">
                      ¡No hay registros que coincidan!
                      <button class="primary" (click)="clickElemento(null)">Agregar</button>
                    </div>
                  </td>
               </tr>
            }
            <ng-container  matColumnDef="Acciones">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let row">
                @if (_router.url.includes("dashboard")) {
                  <button (click)="clickElemento(row)">Ver mas..</button>
                }@else {


                <button (click)="clickElemento(row)">
                  <i-tabler name="edit"></i-tabler>
                </button>
                <button (click)="eliminarElemento(row)">
                  <i-tabler name="trash"></i-tabler>
                </button>
              }
              </td>
            </ng-container>

            <!-- Manejo de datos no encontrados -->
            <tr mat-header-row *matHeaderRowDef="columns"></tr>
            <tr mat-row *matRowDef="let row; columns: columns"  class="hover:bg-slate-200 duration-300"></tr>
            <tr class="mat-row" *matNoDataRow>
               <td class="mat-cell text-center" colspan="100%">
                  <!-- No hay registros que coincidan con "{{ input.value }}" -->
                  <img class="data" src="assets/egreso.svg" alt="">
                  <div class="noInfo">
                    ¡No hay registros que coincidan!
                    <button class="primary" (click)="clickElemento(null)">Agregar</button>
                  </div>
               </td>
            </tr>
         </table>
      </div>
         <!-- Paginación de la tabla -->
         <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users" class="number"></mat-paginator>
   <!-- </div> -->
</div>

